@charset "UTF-8";
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/*
 * 	Green theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease, -o-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease, -o-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/*
 * 	Green theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

@-webkit-keyframes fullscreen-fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes fullscreen-fadein {
  0% {
    opacity: 0;
    -o-transform: scale(0.85);
    transform: scale(0.85); }
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes fullscreen-fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes transformY-fadein {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  30% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@-o-keyframes transformY-fadein {
  0% {
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  30% {
    opacity: 0; }
  100% {
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@keyframes transformY-fadein {
  0% {
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  30% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-o-keyframes slide-left-in {
  0% {
    -o-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0; }
  100% {
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-o-keyframes slide-right-in {
  0% {
    -o-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0; }
  100% {
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes loading {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes bounce {
  0%, 100% {
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/* Sizes */
/* Grids */
/* Gutters */
body:after {
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  max-width: 900px;
  position: fixed;
  left: 50%;
  top: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%224%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%224%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2212%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2212%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2220%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2220%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2229%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2229%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2237%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2237%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2245%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2245%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2254%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2254%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2262%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2262%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2270%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2270%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2279%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2279%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2287%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2287%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2295%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2295%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fsvg%3E");
  opacity: 0.4;
  z-index: 10000; }

body[grid="visible"]:after {
  display: block; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400; }

a:not(.button) {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #777777;
  text-decoration: none; }
  a:not(.button).active {
    color: #ff6825;
    border-bottom: 1px solid #ff6825; }
  a:not(.button):hover {
    color: #444; }
  a:not(.button):focus {
    outline: none; }

.owl-dot.active span {
  background: #777 !important; }

input[type="radio"] {
  display: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-size: 100%;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

.owl-stage {
  max-width: initial; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: -webkit-calc(40px / 2);
  margin-top: calc(40px / 2);
  margin-bottom: 20px;
  width: 100%; }

@media (min-width: 768px) {
  body {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px; } }

header nav {
  position: relative;
  width: 100%;
  padding-top: 15px;
  display: inline-block;
  text-align: center;
  color: #777777; }
  header nav .sub-menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  header nav .main-menu {
    display: none; }
  header nav .main-menu li.active a,
  header nav .sub-menu li.active a {
    color: #ff6825;
    font-weight: 400; }
  header nav .main-menu li:hover a,
  header nav .sub-menu li:hover a {
    color: #444;
    font-weight: 400; }

@media (min-width: 768px) {
  header {
    width: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px; }
    header nav {
      position: static;
      width: auto;
      padding: 0;
      display: block;
      text-align: left;
      float: right; }
      header nav .main-menu-prefix {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 7px; }
      header nav a {
        font-size: 1.2rem !important;
        margin-right: 30px; }
      header nav .sub-menu {
        display: inline-block;
        width: auto;
        border-bottom: none;
        margin-top: 7px; }
        header nav .sub-menu li {
          display: inline-block; }
          header nav .sub-menu li.active a {
            border-bottom: 1px solid #ff6825; }
          header nav .sub-menu li:last-child a {
            margin-right: 10px; } }

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  margin: 0; }

body.fotos main {
  overflow: visible; }

@media (min-width: 768px) {
  main {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px; } }

.contactform input, .contactform textarea, .contactform label {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.contactform ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #afafaf; }

.contactform ::-moz-placeholder {
  /* Firefox 19+ */
  color: #afafaf; }

.contactform :-ms-input-placeholder {
  /* IE 10+ */
  color: #afafaf; }

.contactform :-moz-placeholder {
  /* Firefox 18- */
  color: #afafaf; }

.contactform input, .contactform textarea {
  max-width: 100%;
  border: 1px solid #afafaf;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 16px; }

.contactform input[type='submit'],
.contactform .send {
  background-color: rgba(255, 104, 37, 0.5);
  color: white;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  padding: 1rem;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  margin-bottom: 0; }
  .contactform input[type='submit'].validated,
  .contactform .send.validated {
    cursor: pointer;
    background-color: #ff6825; }

.contactform label {
  font-weight: 800;
  margin-bottom: 5px;
  display: block; }

.load-wrapper {
  position: fixed;
  height: 50px;
  width: 50px;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 50;
  pointer-events: none; }
  .load-wrapper.visible {
    opacity: 1; }
  .load-wrapper .spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: loading 2s linear infinite;
    -o-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite; }
    .load-wrapper .spinner .bubble-1,
    .load-wrapper .spinner .bubble-2 {
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background-color: #ff6825;
      -webkit-animation: bounce 2s ease-in-out infinite;
      -o-animation: bounce 2s ease-in-out infinite;
      animation: bounce 2s ease-in-out infinite; }
      .load-wrapper .spinner .bubble-1:not(.bubble-1),
      .load-wrapper .spinner .bubble-2:not(.bubble-1) {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        -o-animation-delay: -1.0s;
        animation-delay: -1.0s; }

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-weight: 400;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: -webkit-calc(40px / 2);
  padding: calc(40px / 2); }
  .logo:hover {
    color: #ff6825; }
  .logo .ginger {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #777777;
    font-size: 2rem;
    color: #ff6825;
    font-weight: 800;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .logo {
    text-align: left;
    font-size: 2rem;
    display: inline-block;
    padding: 0; }
    .logo:after {
      content: "";
      display: table;
      clear: both; }
    .logo:after {
      content: '';
      border-bottom: 1px solid #f1f1f1;
      margin-top: 30px;
      width: 100%;
      position: absolute;
      left: 0; } }

.overtake {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  opacity: 0;
  z-index: -1; }
  .overtake.visible {
    z-index: 10;
    opacity: 1; }

.page-title {
  text-align: center;
  font-size: 2rem;
  max-width: 900px;
  margin: 30px; }

@media (min-width: 768px) {
  .page-title {
    margin: 0; } }

.arrow-left,
.arrow-right,
.close {
  display: none;
  fill: white;
  cursor: pointer;
  width: 50px;
  max-height: 100px; }

.testimonials {
  margin-top: 40px;
  margin-bottom: 40px; }
  .testimonials .owl-carousel {
    border: 1px solid #afafaf;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: visible; }
    .testimonials .owl-carousel .owl-dots {
      position: absolute;
      width: 100%;
      z-index: 50; }
      .testimonials .owl-carousel .owl-dots .owl-dot span {
        width: 15px;
        height: 15px; }
    .testimonials .owl-carousel .owl-item article .quote {
      padding: 40px;
      padding: 50px;
      font-style: italic;
      color: #222;
      line-height: 1.7;
      font-size: 1rem;
      text-align: justify;
      text-justify: inter-word;
      position: relative; }
      .testimonials .owl-carousel .owl-item article .quote:before {
        content: "“";
        position: absolute;
        font-size: 3rem;
        line-height: 0;
        left: 10px;
        color: #ff6825;
        text-align: center;
        font-weight: 800;
        width: 30px; }
      .testimonials .owl-carousel .owl-item article .quote:after {
        content: "”";
        text-align: center;
        width: 30px;
        position: absolute;
        font-size: 3rem;
        right: 20px;
        line-height: 0;
        bottom: 40px;
        vertical-align: center;
        color: #ff6825;
        font-weight: 800; }
    .testimonials .owl-carousel .owl-item article .name {
      font-weight: bold;
      font-size: 1.125rem;
      text-align: right;
      margin-bottom: 30px;
      margin-right: 60px; }

@media (min-width: 768px) {
  .testimonials {
    margin-top: 0; } }

.thankyou {
  width: 90vw;
  height: 70vh;
  top: 15vh;
  left: 5vw;
  position: fixed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  z-index: 50;
  text-align: center;
  display: none; }
  .thankyou.visible {
    display: block; }
  .thankyou .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 5px; }
    .thankyou .inner > * {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin: 10px 0; }
    .thankyou .inner h2 {
      font-size: 32px; }
    .thankyou .inner .checkmark {
      width: 60px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: #ff6825; }
    .thankyou .inner .send {
      color: white;
      font-weight: 800;
      font-size: 1rem;
      text-transform: uppercase;
      border: none;
      padding: 1rem;
      -webkit-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 0;
      cursor: pointer;
      display: block;
      width: 80%;
      background-color: #ff6825; }

@media (min-width: 1280px) {
  .thankyou {
    width: 30vw;
    height: 40vh;
    top: 30vh;
    left: 35vw; }
    .thankyou .inner {
      padding: 20px; } }

.transparent {
  opacity: 0;
  pointer-events: none; }
  .transparent .arrow {
    display: none; }

main .block {
  margin: 0;
  width: 100%;
  padding: 15px; }
  main .block p a {
    color: #ff6825; }

@media (min-width: 768px) {
  main .block {
    padding: 0;
    margin-top: 20px; }
    main .block .left {
      padding-right: 15px; }
    main .block .right {
      padding-left: 15px; }
    main .block .left,
    main .block .right {
      width: 50%;
      overflow: visible;
      float: left; } }

.image-block {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all; }

@media (min-width: 768px) {
  .image-block {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all; } }

@media (min-width: 1280px) {
  .image-block {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all; } }

@media (min-width: 768px) {
  .over.lotte main .block {
    padding: 0;
    margin-top: 20px; }
    .over.lotte main .block .two-column {
      padding: 0;
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
      overflow: visible;
      float: left;
      border: 1px solid #afafaf;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .over.lotte main .block .two-column > *:not(img) {
        padding-left: 30px;
        padding-right: 30px; }
      .over.lotte main .block .two-column.left {
        padding-top: 30px;
        margin-right: 30px; }
      .over.lotte main .block .two-column.right img {
        display: block; }
      .over.lotte main .block .two-column.right p {
        padding-top: 30px;
        margin-bottom: 30px; } }

.overview-block {
  position: relative; }
  .overview-block .category {
    width: 100%;
    margin-bottom: 15px;
    height: 200px;
    position: relative;
    background-size: cover;
    background-attachment: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    overflow: hidden; }
    .overview-block .category:hover .text:after {
      width: 120%;
      margin-left: -10%; }
    .overview-block .category:first-child {
      background-image: url("../img/resized/trouwen.jpg"); }
    .overview-block .category:nth-child(2) {
      background-image: url("../img/resized/portretten.jpg"); }
    .overview-block .category:nth-child(3) {
      background-image: url("../img/resized/moeders.jpg"); }
    .overview-block .category:nth-child(4) {
      background-image: url("../img/resized/publicatie.jpg"); }
    .overview-block .category .text {
      position: absolute;
      bottom: 40px;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 4% 26%;
      background-color: white;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      left: 50%;
      font-weight: 400;
      font-size: 1.5rem;
      color: #444; }
      .overview-block .category .text:after {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        content: '';
        display: block;
        width: 100%;
        background-color: #ff6825;
        height: 2px; }

@media (min-width: 768px) {
  .overview-block {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    margin-top: 110px !important; }
    .overview-block .category:first-child {
      min-height: 300px; }
    .overview-block .category:nth-child(2) {
      min-height: 500px; }
    .overview-block .category:nth-child(3) {
      min-height: 500px; }
    .overview-block .category:nth-child(4) {
      min-height: 300px; }
    .overview-block .category .text {
      padding: 5% 19%; } }

.block.prices {
  padding: 0; }
  .block.prices article.price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 15px; }
    .block.prices article.price a {
      color: #ff6825; }
    .block.prices article.price.pregnancy .top {
      background-image: url("../img/resized/tarieven/zwangersschapsshoot2.png"); }
    .block.prices article.price.family .top {
      background-image: url("../img/resized/tarieven/familieshoot.png"); }
    .block.prices article.price.portrait .top {
      background-image: url("../img/resized/tarieven/portret.png"); }
    .block.prices article.price.mariage .top {
      background-image: url("../img/resized/trouwen.jpg"); }
    .block.prices article.price .top {
      height: 150px;
      background-size: cover;
      position: relative;
      background-position: 80% 50%; }
      .block.prices article.price .top .title {
        color: white;
        z-index: 5;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 1.6rem;
        font-weight: 400; }
        .block.prices article.price .top .title .break {
          display: inline-block; }
      .block.prices article.price .top:after {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(37, 37, 37, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
    .block.prices article.price .bottom {
      padding: 20px;
      position: relative; }
      .block.prices article.price .bottom .description {
        margin-bottom: 20px; }
      .block.prices article.price .bottom ul li:before {
        content: "- "; }
      .block.prices article.price .bottom .price {
        color: #ff6825;
        text-align: right;
        font-weight: 800;
        font-size: 1.4rem;
        padding: 10px; }
        .block.prices article.price .bottom .price .from {
          font-weight: 400;
          color: #252525; }

@media (min-width: 768px) {
  .block.prices article.price {
    border: 1px solid #afafaf;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px; }
    .block.prices article.price .bottom {
      padding-bottom: 80px; }
      .block.prices article.price .bottom .price {
        position: absolute;
        bottom: 20px;
        right: 20px; } }

.block.text p {
  margin-bottom: 20px; }

.block.text ul li {
  margin-left: 12px;
  position: relative; }
  .block.text ul li:before {
    content: "- ";
    position: absolute;
    left: -14px; }

body.fullscreen {
  overflow: hidden !important;
  height: 100vh !important;
  max-height: 100vh !important;
  margin: 0 !important; }
  body.fullscreen main {
    overflow: hidden !important;
    height: 100vh !important; }

figure.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none; }
  figure.fullscreen .figure-wrapper {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-calc(100% - (40px * 1.5));
    height: calc(100% - (40px * 1.5));
    width: 100%;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: auto;
    pointer-events: none; }
    figure.fullscreen .figure-wrapper .image-holder {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-animation: fullscreen-fadein 0.3s;
      -o-animation: fullscreen-fadein 0.3s;
      animation: fullscreen-fadein 0.3s;
      max-height: -webkit-calc(100% - 70px);
      max-height: calc(100% - 70px);
      margin: 0;
      padding: 0;
      position: fixed;
      overflow: hidden;
      left: 0;
      width: 100%;
      bottom: 70px; }
      figure.fullscreen .figure-wrapper .image-holder .figcaption {
        display: block;
        line-height: 1rem;
        margin-bottom: 1.5rem;
        padding-top: 10px;
        color: white;
        padding-left: 10px; }
        figure.fullscreen .figure-wrapper .image-holder .figcaption .title {
          font-weight: 500; }
        figure.fullscreen .figure-wrapper .image-holder .figcaption .close {
          display: none;
          max-width: 15px;
          float: right;
          vertical-align: center;
          pointer-events: all; }
      figure.fullscreen .figure-wrapper .image-holder img {
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }
        figure.fullscreen .figure-wrapper .image-holder img.slide-left {
          -webkit-animation: slide-left-in 1s;
          -o-animation: slide-left-in 1s;
          animation: slide-left-in 1s; }
        figure.fullscreen .figure-wrapper .image-holder img.slide-right {
          -webkit-animation: slide-right-in 1s;
          -o-animation: slide-right-in 1s;
          animation: slide-right-in 1s; }
    figure.fullscreen .figure-wrapper .image-holder,
    figure.fullscreen .figure-wrapper .arrow-left,
    figure.fullscreen .figure-wrapper .arrow-right {
      pointer-events: all; }
    figure.fullscreen .figure-wrapper .arrow {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      display: none;
      margin: auto 50px; }
      figure.fullscreen .figure-wrapper .arrow.arrow-left {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      figure.fullscreen .figure-wrapper .arrow.arrow-right {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; }

@media (min-width: 768px) {
  figure.fullscreen .figure-wrapper {
    margin-top: 20px; }
    figure.fullscreen .figure-wrapper .image-holder {
      position: static !important;
      width: auto !important;
      max-height: -webkit-calc(100vh - 20px) !important;
      max-height: calc(100vh - 20px) !important; }
      figure.fullscreen .figure-wrapper .image-holder img {
        max-height: 100vh;
        width: auto; }
      figure.fullscreen .figure-wrapper .image-holder .figcaption {
        padding-left: 0 !important; }
      figure.fullscreen .figure-wrapper .image-holder .close {
        display: block !important; }
    figure.fullscreen .figure-wrapper .arrow {
      display: block !important; } }

.figure {
  margin-bottom: 5px;
  opacity: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block; }
  .figure.visible {
    -webkit-animation: fullscreen-fadein 0.3s;
    -o-animation: fullscreen-fadein 0.3s;
    animation: fullscreen-fadein 0.3s;
    opacity: 1; }
  .figure .figcaption {
    display: none;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-animation: transformY-fadein 0.45s forwards;
    -o-animation: transformY-fadein 0.45s forwards;
    animation: transformY-fadein 0.45s forwards;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s; }
    .figure .figcaption .close {
      -webkit-animation: transformY-fadein 0.9s forwards;
      -o-animation: transformY-fadein 0.9s forwards;
      animation: transformY-fadein 0.9s forwards;
      -webkit-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s; }
  .figure img {
    width: 100%;
    background: #f9f9f9;
    display: block;
    color: transparent; }
  .figure:first-of-type .arrow-left {
    opacity: 0; }
  .figure:last-of-type .arrow-right {
    opacity: 0; }

.overlay {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.fullscreen ~ .overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(37, 37, 37, 0.9); }

body .breadcrumb {
  display: none; }

body.fotos .breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0; }
  body.fotos .breadcrumb .text {
    display: none;
    padding: 4px; }
  body.fotos .breadcrumb .previous,
  body.fotos .breadcrumb .next {
    height: 20px; }
    body.fotos .breadcrumb .previous .text,
    body.fotos .breadcrumb .next .text {
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: #777777; }
  body.fotos .breadcrumb .arrow {
    display: block;
    fill: #afafaf;
    height: 20px;
    width: 20px;
    padding: 10px; }
  body.fotos .breadcrumb .current {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600; }
  body.fotos .breadcrumb > * {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

@media (min-width: 768px) {
  body.fotos .breadcrumb .current {
    font-size: 2rem;
    line-height: 1rem; }
  body.fotos .breadcrumb .arrow {
    display: inline;
    padding: 0; }
  body.fotos .breadcrumb .text {
    display: inline;
    vertical-align: text-bottom; } }

.image-mobile-navigations {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%; }
  .image-mobile-navigations.visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .image-mobile-navigations > * {
    pointer-events: cursor;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-height: 25px; }

@media (min-width: 768px) {
  .image-mobile-navigations {
    display: none; }
    .image-mobile-navigations.visible {
      display: none; } }

body.fotos:not(.trouwen):not(.moeders):not(.portretten):not(.publicatie) .main-menu-prefix {
  color: #ff6825; }

body.fotos:not(.trouwen):not(.moeders):not(.portretten):not(.publicatie):hover {
  color: #444; }

.main-menu-prefix {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem; }
  .main-menu-prefix:hover {
    color: black;
    font-weight: 400; }

@media (min-width: 768px) {
  .main-menu-prefix {
    display: inline;
    float: left; } }

.main-menu {
  margin-bottom: 20px; }
  .main-menu a {
    color: #777777; }

.sub-menu {
  border-bottom: 1px solid #f1f1f1; }
  .sub-menu li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    min-width: 25%;
    padding-bottom: 20px;
    margin-bottom: -2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0 !important; }
    .sub-menu li a {
      color: #777777; }
    .sub-menu li.active, .sub-menu li:hover {
      border-bottom: 3px solid #ff6825; }
    .sub-menu li:last-child {
      margin-right: 0; }

@media (min-width: 768px) {
  .sub-menu li {
    padding-bottom: 5px;
    width: auto;
    display: block;
    margin-right: 0;
    border-bottom: none !important; }
    .sub-menu li:first-child {
      display: none; }
    .sub-menu li.active, .sub-menu li:hover {
      border-bottom: none; } }
