body {
  margin-left: auto;
  margin-right: auto;

  margin-top: calc(#{$gutter} / 2);
  margin-bottom: 20px;
  width: 100%;
}

@include breakpoint($tablet) {
  body {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
