.load-wrapper {
	position: fixed;
	height: 50px;
	width: 50px;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	opacity: 0;
	transition: all $speed linear;
	z-index: 50;
	pointer-events: none;

	&.visible {
		opacity: 1;
	}

	.spinner {
	  	position: absolute;
	    width: 50px;
	    height: 50px;
	    margin: 0 auto;
	  	animation: loading 2s linear infinite;

		.bubble-1,
		.bubble-2 {
		    position: absolute;
		    top: 0;
		    width: 25px;
		    height: 25px;
		    border-radius: 100%;
		    background-color: #ff6825;
		    animation: bounce 2s ease-in-out infinite;
			
			&:not(.bubble-1){
			    top: auto;
			    bottom: 0;
			    animation-delay: -1.0s;
			}
		}
	}
}