@include sgs-change('mobile first', true);

/* Sizes */
$mobile: 357px;
$tablet: 768px;
$desktop: 1280px;

$max-width: 900px;

$fontpadding: 1rem;
$gutter: 40px;
$padding: 5px;

//mobile
$column-count-mob: 2;
$column-gap-mob: 15px;

//tablet
$column-count-tablet: 3;
$column-gap-tablet: 30px;

//desktop
$column-count: 4;
$column-gap: 30px;

/* Grids */
@include add-grid(24);


/* Gutters */
@include add-gutter(0);

// Singularity visualizer
body:after {
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  @include sgs-change('debug', true);
  @include background-grid($color: red);
  @include sgs-change('debug', false);
  opacity: 0.4;
  z-index: 10000;
}

body[grid="visible"]:after {
  display: block;
}