.contactform {
	input, textarea, label {
		width: 100%;
		box-sizing: border-box;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $grey;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $grey;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $grey;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $grey;
	}

	input, textarea {
		max-width: 100%;
		border: $border;
		border-radius: $border-radius;
		padding: 10px 1rem;
		@include font;
		margin-bottom: $gutter / 2.5;
	}
	input[type='submit'] {
		background-color: rgba($secundary, .5);
		color: $white;
		font-weight: 800;
		font-size: 1rem;
		text-transform: uppercase;
		border: none;
		padding: 1rem;
		transition: all $speed/2;
		margin-bottom: 0;

		&.validated {
			cursor: pointer;
			background-color: rgba($secundary, 1);
		}
	}

	label {
		font-weight: 800;
		margin-bottom: 5px;
		display: block;
	}
}