$primary: black;
$secundary: #ff6825;

$white: white;
$black: #252525;
$grey: #afafaf;
$grey-light: #f1f1f1;

$links: #777777;
$linkshover: #444;

$border: 1px solid $grey;
$shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
$border-radius: 5px;
