body {
	&.fullscreen {
		overflow: hidden !important;
		height: 100vh !important;
		max-height: 100vh !important;
		margin: 0 !important;

		main {
			overflow: hidden !important;
			height: 100vh !important;	
		}
	}
}

figure.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	pointer-events: none; 

	.figure-wrapper {
		transition: opacity $speed;
		display: flex;
		height: calc(100% - (#{$gutter} * 1.5));
		width: 100%;
		left: 0;
		flex-direction: row;
		justify-content: center;
		cursor: auto;
		pointer-events: none;

		.image-holder {
      pointer-events: none !important;
			order: 2;
			align-self: center;
			animation: fullscreen-fadein $speed;
			max-height: calc(100% - 70px);
		    margin: 0;
		    padding: 0;
		    position: fixed;
		    overflow: hidden;
		    left: 0;
		    width: 100%;
		    bottom: 70px;

			.figcaption {
				display: block;
				line-height: 1rem;
				margin-bottom: 1.5rem;
				padding-top: $padding * 2;
				color: white;
				padding-left: 10px;


				.title {
					font-weight: 500;
				}

				.close {
					display: none;
					max-width: 15px;
					float: right;
					vertical-align: center;
				}
			}

			img {
				box-shadow: $shadow;

				&.slide-left {
					animation: slide-left-in 1s;
				}

				&.slide-right {
					animation: slide-right-in 1s;
				}				
			}
		}
		
		.image-holder,
		.arrow-left,
		.arrow-right {
			pointer-events: all;
		}

		.arrow {
			align-self: center;
			display: none;
			margin: auto 50px;

			&.arrow-left {
				order: 1;
			}

			&.arrow-right {
				order: 3;
			}
		}
	}
}
@include breakpoint ($tablet) {
	figure.fullscreen {
		.figure-wrapper {
			margin-top: 20px;
		    // height: calc(100% - (0px * 1.5));

			.image-holder {
			    position: static !important;
			    width: auto !important;
			    max-height: calc(100vh - 20px) !important;

			    img {
				    max-height: 100vh;
    				width: auto;
			    }

		
				.figcaption {
					padding-left: 0 !important;
				}

				.close {
					display: block !important;
				}
			}

			.arrow {
				display: block !important;
			}
		}		
	}
}